#root {
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.container{
  margin: -50px;
  .form{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 10px auto;
    input{
      padding: 10px;
      margin: 10px;
    }
    button{
      background-color: #663e3e;
    }
    button:hover{
      background-color: #167779;
    }
  }
  .search{
    margin: 5px auto;
    width: 40%;
    padding: 10px 0;
    text-align: center;
  }
  table{
    width: 90%;
    margin: 10px auto;
    tr{
      th{
        border: 1px solid black;
      }
      td{
        border: 1px solid black;
       
      }
    }
    button{
      background-color: #42148b;
      opacity: 0.5;
      margin: 5px;
    }
    button:hover{
      background-color: #0fbcbc;
      opacity: 1;
    }
  }
}
form{
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 10px auto;
  input{
    padding: 10px;
    margin: 10px;
  }
  button{
    background-color: #663e3e;
  }
  button:hover{
    background-color: #167779;
  }
}